/*---------------------------------------- 定義結構
max-width : 767px		//手機板
min-width : 768px		//手機板 以上
max-width : 1279px		//桌面板 
min-width : 1280px		//桌面板 以下
max-width : 1599px		//超寬版
min-width : 1600px		//超寬版 以下
*/
/*
-pull,-push,-offset 廢棄
*/
body {
text-align:center;
}
.container {
	display: inline-block;
	width: 100% ;
	margin-right: auto;
	margin-left: auto;
	
	padding-right: var(--edge);
	padding-left: var(--edge);
	text-align:left;
	/*邊緣的間距*/
	--edge: 15px;
}
/*可先決定版面寬度 反正是自動調整*/
@media (min-width: 768px) {
	.container {
		
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px ;
	}
}
@media (min-width: 1600px) {
	.container {
		max-width: 1600px ;
	}
}

.row2,
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
	margin-right: var(--row_mr);
	margin-left: var(--row_ml);
	
	--row_gap : 15px;	/*內容各元件的間格-會*2 */
	/*row 會左右往外 = 負的 gap */
	--row_mr : calc(0% - var(--row_gap));
	--row_ml : calc(0% - var(--row_gap));
}
.row2{
	--row_gap : 0px;
}

.col-auto,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,
.col-md-auto,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,
.col-lg-auto,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12,
.col-xl-auto,.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12,
.col-01,.col-02,.col-0h,.col-1h,.col-2h,.col-3h,.col-4h,.col-5h,
.col-md-01,.col-md-02,.col-md-0h,.col-md-1h,.col-md-2h,.col-md-3h,.col-md-4h,.col-md-5h,
.col-lg-01,.col-lg-02,.col-lg-0h,.col-lg-1h,.col-lg-2h,.col-lg-3h,.col-lg-4h,.col-lg-5h,
.col-xl-01,.col-xl-02,.col-xl-0h,.col-xl-1h,.col-xl-2h,.col-xl-3h,.col-xl-4h,.col-xl-5h { 
	width:100%;
	padding-left: var(--col_pl);
	padding-right: var(--col_pr);
	margin-left: var(--col_ml);
	margin-right: var(--col_mr);
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;

	--col_pl : 0px;
	--col_pr : 0px;
	--col_ml : 0px;
	--col_mr : 0px;
	
	--w_val-a : auto ;
	--w_val-1 : 8.333333% ;
	--w_val-2 : 16.666667% ;
	--w_val-3 : 25%;
	--w_val-4 : 33.333333% ;
	--w_val-5 : 41.666667%;
	--w_val-6 : 50%;
	--w_val-7 : 58.333333%;
	--w_val-8 : 66.666667%;
	--w_val-9 : 75%;
	--w_val-10 : 83.333333%;
	--w_val-11 : 91.666667%;
	--w_val-12 : 100% ;
	--w_val-01 : 10% ;
	--w_val-02 : 20% ;
	--w_val-0h : 4.166665% ;
	--w_val-1h: 12.499998% ;
	--w_val-2h: 20.832222% ;
	--w_val-3h: 29.166665% ;
	--w_val-4h: 37.499998% ;
	--w_val-5h: 45.832222% ;
	
	--col_w-a : calc(var(--w_val-a) - var(--col_mr) - var(--col_ml));
	--col_w-1 : calc(var(--w_val-1) - var(--col_mr) - var(--col_ml));
	--col_w-2 : calc(var(--w_val-2) - var(--col_mr) - var(--col_ml));
	--col_w-3 : calc(var(--w_val-3) - var(--col_mr) - var(--col_ml));
	--col_w-4 : calc(var(--w_val-4) - var(--col_mr) - var(--col_ml));
	--col_w-5 : calc(var(--w_val-5) - var(--col_mr) - var(--col_ml));
	--col_w-6 : calc(var(--w_val-6) - var(--col_mr) - var(--col_ml));
	--col_w-7 : calc(var(--w_val-7) - var(--col_mr) - var(--col_ml));
	--col_w-8 : calc(var(--w_val-8) - var(--col_mr) - var(--col_ml));
	--col_w-9 : calc(var(--w_val-9) - var(--col_mr) - var(--col_ml));
	--col_w-10 : calc(var(--w_val-10) - var(--col_mr) - var(--col_ml));
	--col_w-11 : calc(var(--w_val-1) - var(--col_mr) - var(--col_ml));
	--col_w-12 : calc(var(--w_val-12) - var(--col_mr) - var(--col_ml));
	--col_w-01 : calc(var(--w_val-01) - var(--col_mr) - var(--col_ml));
	--col_w-02 : calc(var(--w_val-02) - var(--col_mr) - var(--col_ml));
	--col_w-0h : calc(var(--w_val-0h) - var(--col_mr) - var(--col_ml));
	--col_w-1h : calc(var(--w_val-1h) - var(--col_mr) - var(--col_ml));
	--col_w-2h : calc(var(--w_val-2h) - var(--col_mr) - var(--col_ml));
	--col_w-3h : calc(var(--w_val-3h) - var(--col_mr) - var(--col_ml));
	--col_w-4h : calc(var(--w_val-4h) - var(--col_mr) - var(--col_ml));
	--col_w-5h : calc(var(--w_val-5h) - var(--col_mr) - var(--col_ml));
	
	--orde-1:1 ;
	--orde-2:2 ;
	--orde-3:3 ;
	--orde-4:4 ;
	--orde-5:5 ;
	--orde-6:6 ;
	--orde-7:7 ;
	--orde-8:8 ;
	--orde-9:9 ;
	--orde-10:10 ;
	--orde-11:11 ;
	--orde-12:12 ;
}


/*---------------------------------------- 處理結構變化 */
.container .container {
	padding-left: 0px;
    padding-right: 0px;
}
.row .row,.row .row2,
.row2 .row,.row2 .row2 {
	
}
.row > .row,.row > .row2,
.row2 > .row,.row2 > .row2 {
	margin-right: 0px;
	margin-left: 0px;
}
/*
.row.col-auto,.row.col-1,.row.col-2,.row.col-3,.row.col-4,.row.col-5,.row.col-6,.row.col-7,.row.col-8,.row.col-9,.row.col-10,.row.col-11,.row.col-12,.row.col,
.row.col-md-auto,.row.col-md-1,.row.col-md-2,.row.col-md-3,.row.col-md-4,.row.col-md-5,.row.col-md-6,.row.col-md-7,.row.col-md-8,.row.col-md-9,.row.col-md-10,.row.col-md-11,.row.col-md-12,
.row.col-lg-auto,.row.col-lg-1,.row.col-lg-2,.row.col-lg-3,.row.col-lg-4,.row.col-lg-5,.row.col-lg-6,.row.col-lg-7,.row.col-lg-8,.row.col-lg-9,.row.col-lg-10,.row.col-lg-11,.row.col-lg-12,
.row.col-xl-auto,.row.col-xl-1,.row.col-xl-2,.row.col-xl-3,.row.col-xl-4,.row.col-xl-5,.row.col-xl-6,.row.col-xl-7,.row.col-xl-8,.row.col-xl-9,.row.col-xl-10,.row.col-xl-11,.row.col-xl-12,
.row.col-md-02 {
	
}
*/

.row > .col-auto,.row > .col-1,.row > .col-2,.row > .col-3,.row > .col-4,.row > .col-5,.row > .col-6,.row > .col-7,.row > .col-8,.row > .col-9,.row > .col-10,.row > .col-11,.row > .col-12,
.row > .col-md-auto,.row > .col-md-1,.row > .col-md-2,.row > .col-md-3,.row > .col-md-4,.row > .col-md-5,.row > .col-md-6,.row > .col-md-7,.row > .col-md-8,.row > .col-md-9,.row > .col-md-10,.row > .col-md-11,.row > .col-md-12,
.row > .col-lg-auto,.row > .col-lg-1,.row > .col-lg-2,.row > .col-lg-3,.row > .col-lg-4,.row > .col-lg-5,.row > .col-lg-6,.row > .col-lg-7,.row > .col-lg-8,.row > .col-lg-9,.row > .col-lg-10,.row > .col-lg-11,.row > .col-lg-12,
.row > .col-xl-auto,.row > .col-xl-1,.row > .col-xl-2,.row > .col-xl-3,.row > .col-xl-4,.row > .col-xl-5,.row > .col-xl-6,.row > .col-xl-7,.row > .col-xl-8,.row > .col-xl-9,.row > .col-xl-10,.row > .col-xl-11,.row > .col-xl-12,
.row > .col-01,.row > .col-02,.row > .col-0h,.row > .col-1h,.row > .col-2h,.row > .col-3h,.row > .col-4h,.row > .col-5h,
.row > .col-md-01,.row > .col-md-02,.row > .col-md-0h,.row > .col-md-1h,.row > .col-md-2h,.row > .col-md-3h,.row > .col-md-4h,.row > .col-md-5h,
.row > .col-lg-01,.row > .col-lg-02,.row > .col-lg-0h,.row > .col-lg-1h,.row > .col-lg-2h,.row > .col-lg-3h,.row > .col-lg-4h,.row > .col-lg-5h,
.row > .col-xl-01,.row > .col-xl-02,.row > .col-xl-0h,.row > .col-xl-1h,.row > .col-xl-2h,.row > .col-xl-3h,.row > .col-xl-4h,.row > .col-xl-5h {
	--col_mr : var(--row_gap);
	--col_ml : var(--row_gap);
}
.row2 > .col-auto,.row2 > .col-1,.row2 > .col-2,.row2 > .col-3,.row2 > .col-4,.row2 > .col-5,.row2 > .col-6,.row2 > .col-7,.row2 > .col-8,.row2 > .col-9,.row2 > .col-10,.row2 > .col-11,.row2 > .col-12,
.row2 > .col-md-auto,.row2 > .col-md-1,.row2 > .col-md-2,.row2 > .col-md-3,.row2 > .col-md-4,.row2 > .col-md-5,.row2 > .col-md-6,.row2 > .col-md-7,.row2 > .col-md-8,.row2 > .col-md-9,.row2 > .col-md-10,.row2 > .col-md-11,.row2 > .col-md-12,
.row2 > .col-lg-auto,.row2 > .col-lg-1,.row2 > .col-lg-2,.row2 > .col-lg-3,.row2 > .col-lg-4,.row2 > .col-lg-5,.row2 > .col-lg-6,.row2 > .col-lg-7,.row2 > .col-lg-8,.row2 > .col-lg-9,.row2 > .col-lg-10,.row2 > .col-lg-11,.row2 > .col-lg-12,
.row2 > .col-xl-auto,.row2 > .col-xl-1,.row2 > .col-xl-2,.row2 > .col-xl-3,.row2 > .col-xl-4,.row2 > .col-xl-5,.row2 > .col-xl-6,.row2 > .col-xl-7,.row2 > .col-xl-8,.row2 > .col-xl-9,.row2 > .col-xl-10,.row2 > .col-xl-11,.row2 > .col-xl-12,
.row2 > .col-01,.row2 > .col-02,.row2 > .col-0h,.row2 > .col-1h,.row2 > .col-2h,.row2 > .col-3h,.row2 > .col-4h,.row2 > .col-5h,
.row2 > .col-md-01,.row2 > .col-md-02,.row2 > .col-md-0h,.row2 > .col-md-1h,.row2 > .col-md-2h,.row2 > .col-md-3h,.row2 > .col-md-4h,.row2 > .col-md-5h,
.row2 > .col-lg-01,.row2 > .col-lg-02,.row2 > .col-lg-0h,.row2 > .col-lg-1h,.row2 > .col-lg-2h,.row2 > .col-lg-3h,.row2 > .col-lg-4h,.row2 > .col-lg-5h,
.row2 > .col-xl-01,.row2 > .col-xl-02,.row2 > .col-xl-0h,.row2 > .col-xl-1h,.row2 > .col-xl-2h,.row2 > .col-xl-3h,.row2 > .col-xl-4h,.row2 > .col-xl-5h {
	--col_mr : var(--row_gap);
	--col_ml : var(--row_gap);
}

/*區塊尺寸 - min-width=由小到大 */
/* col- */
@media (min-width: 0px) {
	.col-auto  {-ms-flex: 0 0 var(--col_w-a) ;flex: 0 0 var(--col_w-a) ;max-width: var(--col_w-12) ;}
	.col-1 {-ms-flex: 0 0 var(--col_w-1) ;flex: 0 0 var(--col_w-1) ;max-width: var(--col_w-1) ;}
	.col-2 {-ms-flex: 0 0 var(--col_w-2) ;flex: 0 0 var(--col_w-2) ;max-width: var(--col_w-2) ;}
	.col-3 {-ms-flex: 0 0 var(--col_w-3) ;flex: 0 0 var(--col_w-3) ;max-width: var(--col_w-3) ;}
	.col-4 {-ms-flex: 0 0 var(--col_w-4) ;flex: 0 0 var(--col_w-4) ;max-width: var(--col_w-4) ;}
	.col-5 {-ms-flex: 0 0 var(--col_w-5) ;flex: 0 0 var(--col_w-5) ;max-width: var(--col_w-5) ;}
	.col-6 {-ms-flex: 0 0 var(--col_w-6) ;flex: 0 0 var(--col_w-6) ;max-width: var(--col_w-6) ;}
	.col-7 {-ms-flex: 0 0 var(--col_w-7) ;flex: 0 0 var(--col_w-7) ;max-width: var(--col_w-7) ;}
	.col-8 {-ms-flex: 0 0 var(--col_w-8) ;flex: 0 0 var(--col_w-8) ;max-width: var(--col_w-8) ;}
	.col-9 {-ms-flex: 0 0 var(--col_w-9) ;flex: 0 0 var(--col_w-9) ;max-width: var(--col_w-9) ;}
	.col-10 {-ms-flex: 0 0 var(--col_w-10) ;flex: 0 0 var(--col_w-10) ;max-width: var(--col_w-10) ;}
	.col-11 {-ms-flex: 0 0 var(--col_w-11) ;flex: 0 0 var(--col_w-11) ;max-width: var(--col_w-11) ;}
	.col-12 {-ms-flex: 0 0 var(--col_w-12) ;flex: 0 0 var(--col_w-12) ;max-width: var(--col_w-12) ;}
	.col-01 {-ms-flex: 0 0 var(--col_w-01) ;flex: 0 0 var(--col_w-01) ;max-width: var(--col_w-01) ;}
	.col-02 {-ms-flex: 0 0 var(--col_w-02) ;flex: 0 0 var(--col_w-02) ;max-width: var(--col_w-02) ;}
	.col-0h {-ms-flex: 0 0 var(--col_w-0h) ;flex: 0 0 var(--col_w-0h) ;max-width: var(--col_w-0h) ;}
	.col-1h {-ms-flex: 0 0 var(--col_w-1h) ;flex: 0 0 var(--col_w-1h) ;max-width: var(--col_w-1h) ;}
	.col-2h {-ms-flex: 0 0 var(--col_w-2h) ;flex: 0 0 var(--col_w-2h) ;max-width: var(--col_w-2h) ;}
	.col-3h {-ms-flex: 0 0 var(--col_w-3h) ;flex: 0 0 var(--col_w-3h) ;max-width: var(--col_w-3h) ;}
	.col-4h {-ms-flex: 0 0 var(--col_w-4h) ;flex: 0 0 var(--col_w-4h) ;max-width: var(--col_w-4h) ;}
	.col-5h {-ms-flex: 0 0 var(--col_w-5h) ;flex: 0 0 var(--col_w-5h) ;max-width: var(--col_w-5h) ;}
	.order-1 {-ms-flex-order:var(--orde-1);order:var(--orde-1);}
	.order-2 {-ms-flex-order:var(--orde-2);order:var(--orde-2);}
	.order-3 {-ms-flex-order:var(--orde-3);order:var(--orde-3);}
	.order-4 {-ms-flex-order:var(--orde-4);order:var(--orde-4);}
	.order-5 {-ms-flex-order:var(--orde-5);order:var(--orde-5);}
	.order-6 {-ms-flex-order:var(--orde-6);order:var(--orde-6);}
	.order-7 {-ms-flex-order:var(--orde-7);order:var(--orde-7);}
	.order-8 {-ms-flex-order:var(--orde-8);order:var(--orde-8);}
	.order-9 {-ms-flex-order:var(--orde-9);order:var(--orde-9);}
	.order-10 {-ms-flex-order:var(--orde-10);order:var(--orde-10);}
	.order-11 {-ms-flex-order:var(--orde-11);order:var(--orde-11);}
	.order-12 {-ms-flex-order:var(--orde-12);order:var(--orde-12);}
}
/* col-md */
@media (min-width: 768px) {
	.col-md-auto  {-ms-flex: 0 0 var(--col_w-a) ;flex: 0 0 var(--col_w-a) ;width: var(--col_w-a) ;max-width: var(--col_w-12) ;}
	.col-md-1 {-ms-flex: 0 0 var(--col_w-1) ;flex: 0 0 var(--col_w-1) ;max-width: var(--col_w-1) ;}
	.col-md-2 {-ms-flex: 0 0 var(--col_w-2) ;flex: 0 0 var(--col_w-2) ;max-width: var(--col_w-2) ;}
	.col-md-3 {-ms-flex: 0 0 var(--col_w-3) ;flex: 0 0 var(--col_w-3) ;max-width: var(--col_w-3) ;}
	.col-md-4 {-ms-flex: 0 0 var(--col_w-4) ;flex: 0 0 var(--col_w-4) ;max-width: var(--col_w-4) ;}
	.col-md-5 {-ms-flex: 0 0 var(--col_w-5) ;flex: 0 0 var(--col_w-5) ;max-width: var(--col_w-5) ;}
	.col-md-6 {-ms-flex: 0 0 var(--col_w-6) ;flex: 0 0 var(--col_w-6) ;max-width: var(--col_w-6) ;}
	.col-md-7 {-ms-flex: 0 0 var(--col_w-7) ;flex: 0 0 var(--col_w-7) ;max-width: var(--col_w-7) ;}
	.col-md-8 {-ms-flex: 0 0 var(--col_w-8) ;flex: 0 0 var(--col_w-8) ;max-width: var(--col_w-8) ;}
	.col-md-9 {-ms-flex: 0 0 var(--col_w-9) ;flex: 0 0 var(--col_w-9) ;max-width: var(--col_w-9) ;}
	.col-md-10 {-ms-flex: 0 0 var(--col_w-10) ;flex: 0 0 var(--col_w-10) ;max-width: var(--col_w-10) ;}
	.col-md-11 {-ms-flex: 0 0 var(--col_w-11) ;flex: 0 0 var(--col_w-11) ;max-width: var(--col_w-11) ;}
	.col-md-12 {-ms-flex: 0 0 var(--col_w-12) ;flex: 0 0 var(--col_w-12) ;max-width: var(--col_w-12) ;}
	.col-md-01 {-ms-flex: 0 0 var(--col_w-01) ;flex: 0 0 var(--col_w-01) ;max-width: var(--col_w-01) ;}
	.col-md-02 {-ms-flex: 0 0 var(--col_w-02) ;flex: 0 0 var(--col_w-02) ;max-width: var(--col_w-02) ;}
	.col-md-0h {-ms-flex: 0 0 var(--col_w-0h) ;flex: 0 0 var(--col_w-0h) ;max-width: var(--col_w-0h) ;}
	.col-md-1h {-ms-flex: 0 0 var(--col_w-1h) ;flex: 0 0 var(--col_w-1h) ;max-width: var(--col_w-1h) ;}
	.col-md-2h {-ms-flex: 0 0 var(--col_w-2h) ;flex: 0 0 var(--col_w-2h) ;max-width: var(--col_w-2h) ;}
	.col-md-3h {-ms-flex: 0 0 var(--col_w-3h) ;flex: 0 0 var(--col_w-3h) ;max-width: var(--col_w-3h) ;}
	.col-md-4h {-ms-flex: 0 0 var(--col_w-4h) ;flex: 0 0 var(--col_w-4h) ;max-width: var(--col_w-4h) ;}
	.col-md-5h {-ms-flex: 0 0 var(--col_w-5h) ;flex: 0 0 var(--col_w-5h) ;max-width: var(--col_w-5h) ;}
	.order-md-1 {-ms-flex-order:var(--orde-1);order:var(--orde-1);}
	.order-md-2 {-ms-flex-order:var(--orde-2);order:var(--orde-2);}
	.order-md-3 {-ms-flex-order:var(--orde-3);order:var(--orde-3);}
	.order-md-4 {-ms-flex-order:var(--orde-4);order:var(--orde-4);}
	.order-md-5 {-ms-flex-order:var(--orde-5);order:var(--orde-5);}
	.order-md-6 {-ms-flex-order:var(--orde-6);order:var(--orde-6);}
	.order-md-7 {-ms-flex-order:var(--orde-7);order:var(--orde-7);}
	.order-md-8 {-ms-flex-order:var(--orde-8);order:var(--orde-8);}
	.order-md-9 {-ms-flex-order:var(--orde-9);order:var(--orde-9);}
	.order-md-10 {-ms-flex-order:var(--orde-10);order:var(--orde-10);}
	.order-md-11 {-ms-flex-order:var(--orde-11);order:var(--orde-11);}
	.order-md-12 {-ms-flex-order:var(--orde-12);order:var(--orde-12);}
}
/* col-lg */
@media (min-width: 1280px) {
	.col-lg-auto  {-ms-flex: 0 0 var(--col_w-a) ;flex: 0 0 var(--col_w-a) ;max-width: var(--col_w-12) ;}
	.col-lg-1 {-ms-flex: 0 0 var(--col_w-1) ;flex: 0 0 var(--col_w-1) ;max-width: var(--col_w-1) ;}
	.col-lg-2 {-ms-flex: 0 0 var(--col_w-2) ;flex: 0 0 var(--col_w-2) ;max-width: var(--col_w-2) ;}
	.col-lg-3 {-ms-flex: 0 0 var(--col_w-3) ;flex: 0 0 var(--col_w-3) ;max-width: var(--col_w-3) ;}
	.col-lg-4 {-ms-flex: 0 0 var(--col_w-4) ;flex: 0 0 var(--col_w-4) ;max-width: var(--col_w-4) ;}
	.col-lg-5 {-ms-flex: 0 0 var(--col_w-5) ;flex: 0 0 var(--col_w-5) ;max-width: var(--col_w-5) ;}
	.col-lg-6 {-ms-flex: 0 0 var(--col_w-6) ;flex: 0 0 var(--col_w-6) ;max-width: var(--col_w-6) ;}
	.col-lg-7 {-ms-flex: 0 0 var(--col_w-7) ;flex: 0 0 var(--col_w-7) ;max-width: var(--col_w-7) ;}
	.col-lg-8 {-ms-flex: 0 0 var(--col_w-8) ;flex: 0 0 var(--col_w-8) ;max-width: var(--col_w-8) ;}
	.col-lg-9 {-ms-flex: 0 0 var(--col_w-9) ;flex: 0 0 var(--col_w-9) ;max-width: var(--col_w-9) ;}
	.col-lg-10 {-ms-flex: 0 0 var(--col_w-10) ;flex: 0 0 var(--col_w-10) ;max-width: var(--col_w-10) ;}
	.col-lg-11 {-ms-flex: 0 0 var(--col_w-11) ;flex: 0 0 var(--col_w-11) ;max-width: var(--col_w-11) ;}
	.col-lg-12 {-ms-flex: 0 0 var(--col_w-12) ;flex: 0 0 var(--col_w-12) ;max-width: var(--col_w-12) ;}
	.col-lg-01 {-ms-flex: 0 0 var(--col_w-01) ;flex: 0 0 var(--col_w-01) ;max-width: var(--col_w-01) ;}
	.col-lg-02 {-ms-flex: 0 0 var(--col_w-02) ;flex: 0 0 var(--col_w-02) ;max-width: var(--col_w-02) ;}
	.col-lg-0h {-ms-flex: 0 0 var(--col_w-0h) ;flex: 0 0 var(--col_w-0h) ;max-width: var(--col_w-0h) ;}
	.col-lg-1h {-ms-flex: 0 0 var(--col_w-1h) ;flex: 0 0 var(--col_w-1h) ;max-width: var(--col_w-1h) ;}
	.col-lg-2h {-ms-flex: 0 0 var(--col_w-2h) ;flex: 0 0 var(--col_w-2h) ;max-width: var(--col_w-2h) ;}
	.col-lg-3h {-ms-flex: 0 0 var(--col_w-3h) ;flex: 0 0 var(--col_w-3h) ;max-width: var(--col_w-3h) ;}
	.col-lg-4h {-ms-flex: 0 0 var(--col_w-4h) ;flex: 0 0 var(--col_w-4h) ;max-width: var(--col_w-4h) ;}
	.col-lg-5h {-ms-flex: 0 0 var(--col_w-5h) ;flex: 0 0 var(--col_w-5h) ;max-width: var(--col_w-5h) ;}
	.order-lg-1 {-ms-flex-order:var(--orde-1);order:var(--orde-1);}
	.order-lg-2 {-ms-flex-order:var(--orde-2);order:var(--orde-2);}
	.order-lg-3 {-ms-flex-order:var(--orde-3);order:var(--orde-3);}
	.order-lg-4 {-ms-flex-order:var(--orde-4);order:var(--orde-4);}
	.order-lg-5 {-ms-flex-order:var(--orde-5);order:var(--orde-5);}
	.order-lg-6 {-ms-flex-order:var(--orde-6);order:var(--orde-6);}
	.order-lg-7 {-ms-flex-order:var(--orde-7);order:var(--orde-7);}
	.order-lg-8 {-ms-flex-order:var(--orde-8);order:var(--orde-8);}
	.order-lg-9 {-ms-flex-order:var(--orde-9);order:var(--orde-9);}
	.order-lg-10 {-ms-flex-order:var(--orde-10);order:var(--orde-10);}
	.order-lg-11 {-ms-flex-order:var(--orde-11);order:var(--orde-11);}
	.order-lg-12 {-ms-flex-order:var(--orde-12);order:var(--orde-12);}
}
/* col-xl */
@media (min-width: 1600px) {
	.col-xl-auto  {-ms-flex: 0 0 var(--col_w-a) ;flex: 0 0 var(--col_w-a) ;max-width: var(--col_w-12) ;}
	.col-xl-1 {-ms-flex: 0 0 var(--col_w-1) ;flex: 0 0 var(--col_w-1) ;max-width: var(--col_w-1) ;}
	.col-xl-2 {-ms-flex: 0 0 var(--col_w-2) ;flex: 0 0 var(--col_w-2) ;max-width: var(--col_w-2) ;}
	.col-xl-3 {-ms-flex: 0 0 var(--col_w-3) ;flex: 0 0 var(--col_w-3) ;max-width: var(--col_w-3) ;}
	.col-xl-4 {-ms-flex: 0 0 var(--col_w-4) ;flex: 0 0 var(--col_w-4) ;max-width: var(--col_w-4) ;}
	.col-xl-5 {-ms-flex: 0 0 var(--col_w-5) ;flex: 0 0 var(--col_w-5) ;max-width: var(--col_w-5) ;}
	.col-xl-6 {-ms-flex: 0 0 var(--col_w-6) ;flex: 0 0 var(--col_w-6) ;max-width: var(--col_w-6) ;}
	.col-xl-7 {-ms-flex: 0 0 var(--col_w-7) ;flex: 0 0 var(--col_w-7) ;max-width: var(--col_w-7) ;}
	.col-xl-8 {-ms-flex: 0 0 var(--col_w-8) ;flex: 0 0 var(--col_w-8) ;max-width: var(--col_w-8) ;}
	.col-xl-9 {-ms-flex: 0 0 var(--col_w-9) ;flex: 0 0 var(--col_w-9) ;max-width: var(--col_w-9) ;}
	.col-xl-10 {-ms-flex: 0 0 var(--col_w-10) ;flex: 0 0 var(--col_w-10) ;max-width: var(--col_w-10) ;}
	.col-xl-11 {-ms-flex: 0 0 var(--col_w-11) ;flex: 0 0 var(--col_w-11) ;max-width: var(--col_w-11) ;}
	.col-xl-12 {-ms-flex: 0 0 var(--col_w-12) ;flex: 0 0 var(--col_w-12) ;max-width: var(--col_w-12) ;}
	.col-xl-01 {-ms-flex: 0 0 var(--col_w-01) ;flex: 0 0 var(--col_w-01) ;max-width: var(--col_w-01) ;}
	.col-xl-02 {-ms-flex: 0 0 var(--col_w-02) ;flex: 0 0 var(--col_w-02) ;max-width: var(--col_w-02) ;}
	.col-xl-0h {-ms-flex: 0 0 var(--col_w-0h) ;flex: 0 0 var(--col_w-0h) ;max-width: var(--col_w-0h) ;}
	.col-xl-1h {-ms-flex: 0 0 var(--col_w-1h) ;flex: 0 0 var(--col_w-1h) ;max-width: var(--col_w-1h) ;}
	.col-xl-2h {-ms-flex: 0 0 var(--col_w-2h) ;flex: 0 0 var(--col_w-2h) ;max-width: var(--col_w-2h) ;}
	.col-xl-3h {-ms-flex: 0 0 var(--col_w-3h) ;flex: 0 0 var(--col_w-3h) ;max-width: var(--col_w-3h) ;}
	.col-xl-4h {-ms-flex: 0 0 var(--col_w-4h) ;flex: 0 0 var(--col_w-4h) ;max-width: var(--col_w-4h) ;}
	.col-xl-5h {-ms-flex: 0 0 var(--col_w-5h) ;flex: 0 0 var(--col_w-5h) ;max-width: var(--col_w-5h) ;}
	.order-xl-1 {-ms-flex-order:var(--orde-1);order:var(--orde-1);}
	.order-xl-2 {-ms-flex-order:var(--orde-2);order:var(--orde-2);}
	.order-xl-3 {-ms-flex-order:var(--orde-3);order:var(--orde-3);}
	.order-xl-4 {-ms-flex-order:var(--orde-4);order:var(--orde-4);}
	.order-xl-5 {-ms-flex-order:var(--orde-5);order:var(--orde-5);}
	.order-xl-6 {-ms-flex-order:var(--orde-6);order:var(--orde-6);}
	.order-xl-7 {-ms-flex-order:var(--orde-7);order:var(--orde-7);}
	.order-xl-8 {-ms-flex-order:var(--orde-8);order:var(--orde-8);}
	.order-xl-9 {-ms-flex-order:var(--orde-9);order:var(--orde-9);}
	.order-xl-10 {-ms-flex-order:var(--orde-10);order:var(--orde-10);}
	.order-xl-11 {-ms-flex-order:var(--orde-11);order:var(--orde-11);}
	.order-xl-12 {-ms-flex-order:var(--orde-12);order:var(--orde-12);}
}


/* 20180307*/
.desk4,
.hide4phone {
	
}
.phone4,
.hide4desk {
	
}
@media (max-width: 767px) {
	.desk4,
	.hide4phone {
		display:none !important; 
	}
}
@media (min-width: 768px) {
	.phone4,
	.hide4desk {
		display:none !important; 
	}

} 
.ckeditor4 img  {
	
}
@media (min-width: 768px) {
	.ckeditor4 img  {
		max-width:100% !important; 
		height:auto !important;
	}
}

.align-md-lc,.align-md-lr {
	text-align:left;
}
.align-md-cl,.align-md-cr {
	text-align:center;
}
.align-md-rc,.align-md-rl {
	text-align:right;
}
@media (max-width: 767px) {	/*對應 md 767px */
	.align-md-cl,.align-md-rl  {
		text-align:left !important ;
	}
	.align-md-rc,.align-md-lc  {
		text-align:center !important ;
	}
	.align-md-lr,.align-md-cr  {
		text-align:right !important ;
	}
}


/*表格 (手機版)有卷軸*/
.rwd-table-frame {
	display:inline-block;
	width:100%;
}
@media (max-width: 767px) {	/*對應 md 767px */
	.table-responsive,
	.rwd-table-frame {
		display:block;
		padding: 1px;
		margin-left:-1px;
		max-height:75vh;
		overflow-x:auto;
		overflow-y:auto;
	}
	.table-responsive > table,
	.rwd-table-frame > .css-table,
	.rwd-table-frame > table {
		table-layout:auto ;
	}
	
	.table-responsive > table th,
	.table-responsive > table td,
	.rwd-table-frame > .css-table .css-th,
	.rwd-table-frame > .css-table .css-td,
	.rwd-table-frame > table th,
	.rwd-table-frame > table td {
		white-space:nowrap;
		min-width:75px;
		max-width:90vw;
	}
	
}
/*把 table 轉成 區塊*/
.rwd-table-block {
	
}
@media (max-width: 767px) {	/*對應 md 767px */
	.rwd-table-block > .css-table {
		display:inline-block;
		width:100%;
	}
	.rwd-table-block > .css-table .css-tr {
		display:inline-block;
		width:100%;
	}
	.rwd-table-block > .css-table .css-thead {
		display:none ;
	}
	.rwd-table-block > .css-table .css-th,
	.rwd-table-block > .css-table .css-td {
		display: inline-block;
		width:100%;
	}
}
